/*corpo do website */
body{
   /* background-color: white;*/
    margin: 0 auto;
    font-family:"Arial", Serif;
    background-color:#f4f4f4;
    overflow-x:hidden;
   
}
.container{
  width:80%;
  margin:auto;
}

/* Header **/
header{
  background:#35424a;
  color:#e8491d;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
  margin-bottom: 20px;
}


header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  display:inline;
  padding: 0 10px 0 10px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
}

header .highlight, header .current a{
  color:white;
  font-weight:bold;
}


/*menu */
li:not(#forgot):not(#create_account) {
    float: right;

}
/*menu */
li:not(#forgot):not(#create_account) a:not(#forgot):not(#create_account) {
    margin:0px;
    padding: 15px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/*menu */
li:not(#forgot):not(#create_account) a:not(#forgot):not(#create_account):hover {
    background-color: #e8491d;
    padding-bottom: 22px;
}

/*LOGIN CSS*/
input[type=text], input[type=password] {
    display: inline-block;
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #35424a;
    box-sizing: border-box;
}
/* botao que volta para o topo*/
#btopo {
    position: fixed;
    border: none;
    outline: none;
    bottom: 10px;
    right: 10px; 
    background-color: #35424a;
    color: white; 
    cursor: pointer;
    padding: 10px; 
    border-radius: 5px; 
}
/* botao que volta para o topo*/
#btopo:hover {
    background-color: #e8491d;
}

/*divisorias / categorias do website*/
#home,#serv,#free,#about{
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    height: 500px;
    padding: 10px;
}

#lbutton {
    font-size: 14px;
    background-color: #35424a;
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 70%;
}

#lbutton:hover {
    background-color: #e8491d;;
}

#login {
    list-style: none;
    height: 40px;
    float:right;
    right: 0;
}

#login-form  {
    color:#35424a;
    padding: 20px;
    float: right;
    width: 30%;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    margin-top: 0px;
    display: none;
    right: 0;
    clear: both;
    background-color:#f4f4f4;
     border-radius: 5px;
    border-radius: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:#e8491d 3px solid;
}


#login-form .text {
    width: 100%;
    float: right;
    margin-bottom: 2%;
}

#login-form .submit {
    float: right;
}
#create_account{
    float: left;
    font-size: 14px;
    color: white;
    padding: 14px 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #e8491d;
}

#create_account:hover {
    background-color: #35424a;;
}

#forgot {
    font-size: 14px;
    float: left;
    color: white;
    padding: 14px 20px;
    margin: 10px 0 10px 10px;
    width: 45%;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #35424a;
}

#forgot:hover {
    background-color: #e8491d;;
}