/*corpo do website */
body{
   /* background-color: white;*/
    margin: 0 auto;
    font-family:"Arial", Serif;
    background-color:#f4f4f4;
    overflow-x:hidden;
}

/* div do menu */
#menu
{
}
/*menu */
ul {
    background-color: rgb(41, 40, 40);
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/*menu */
li:not(#forgot):not(#create_account) {
    float: right;
}
/*menu */
li:not(#forgot):not(#create_account) a:not(#forgot):not(#create_account) {
    padding: 20px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/*menu */
li:not(#forgot):not(#create_account) a:not(#forgot):not(#create_account):hover {
    background-color: rgb(233, 19, 19);
}




/*LOGIN CSS*/
input[type=text], input[type=password] {
    display: inline-block;
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(41, 40, 40);
    box-sizing: border-box;
}
/* botao que volta para o topo*/
#btopo {
    position: fixed;
    border: none;
    outline: none;
    bottom: 10px;
    right: 10px; 
    /*z-index: 99;*/
    background-color: rgb(41, 40, 40);
    color: white; 
    cursor: pointer;
    padding: 10px; 
    border-radius: 5px; 
}
/* botao que volta para o topo*/
#btopo:hover {
    background-color: black;
}

/*divisorias / categorias do website*/
#home,#serv,#free,#about{
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    height: 500px;
    padding: 10px;
}

#lbutton {
    background-color: rgb(41, 40, 40);
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#lbutton:hover {
    background-color: black;
}



#login {
    list-style: none;
    height: 40px;
    float:right;
    right: 0;
}




#login-form  {
    padding: 20px;
    float: right;
    width: 30%;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    margin-top: 9px;
    display: none;
    right: 0;
    clear: both;
    background-color: rgb(255, 248, 248);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#login-form .text {
    width: 100%;
    float: right;
    margin-bottom: 2%;
}

#login-form .submit {
    float: right;
}

#create{
    float: right;
}